/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.workout h1 {
  text-align:center;
}

.table tr td {
  font-size: 20px;
}

.exercises tr td a {
  float:right;
}

.table-exercises {
  display: none;
}

.exercise-edit {
  display:none;
}

.btn-center {
  display:block;
  width:120px;
  margin:0 auto;
}

.btn-exercise {
  display: block;
  margin:0 auto;
}

.panel-question > .panel-heading {
  color: #ffffff;
  background-color: #666;
  border-color: #666;
}

.panel-question {
  border-color: #666;
}

.nav-workouts h4 {
  display:inline-block;
  margin-right:10px;
  vertical-align: middle;
}

.nav-workouts form button {
  float:right;
}

.nav-workouts form .btn-workout-edit {
  margin-right:10px;
}

.workout-summery {
  display:none;
}

.workout-summery h4 {
  margin-top:15px;
}

.form-workout {
  width:50%;
  margin:0 auto;
  padding:15px 50px;
}

.btns-form {
  width:130px;
  margin:0 auto;
}

.tips {
  list-style:none;
  padding:0;
  font-size:16px;
  text-align:center; 
}

.resources {
  width: 600px;
  margin:15px auto 30px auto;
}

.resources li {
  margin:5px 0;
  font-size:18px;
}

.panel-title {
  text-align:center;
}

.panel-question {
  width:80%;
  margin:10px auto;
}

.btn-group {
  margin:0 auto;
  width:140px;
  display:block;
}

a.btn {
  text-decoration:none;
}

/* Customize container */
@media (min-width: 960px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
