<script>
  $(".timer").TimeCircles({
      "animation": "smooth",
      "bg_width": 1.2,
      "fg_width": 0.1,
      "circle_bg_color": "#60686F",
      "time": {
          "Days": {
              "text": "Days",
              "color": "#FFCC66",
              "show": false
          },
          "Hours": {
              "text": "Hours",
              "color": "#FFCC66",
              "show": false
          },
          "Minutes": {
              "text": "Minutes",
              "color": "#BBFFBB",
              "show": true
          },
          "Seconds": {
              "text": "Seconds",
              "color": "#99CCFF",
              "show": true
          }
      }
  });
</script>

<div class='workout'>
  
  <div class="timer"></div>

  <h1>{{ workout.name }}</h1>

  <ul class="resources">
    <li ng-repeat="description in workout.descriptions">
      {{ description }}
    </li>
  </ul>

  <div class="panel panel-question" ng-repeat="exercise in exercises">
    <div class="panel-heading">
      <h3 class="panel-title">{{ exercise.question }}</h3>
    </div>

    <div class="panel-body">

      <div class="exercise-answer">
        
        <p>{{ exercise.answer }}</p>

        <div class="btn-group">
          <button type="button" class="btn btn-default">Easy</button>
          <button type="button" class="btn btn-default">Medium</button>
          <button type="button" class="btn btn-default">Hard</button>
        </div>

      </div>
      
      <ul class="tips">
        <li ng-repeat='tip in exercise.viewTips'>
          {{ tip }}
        </li>
      </ul>
      <button type="button" class="btn btn-default btn-exercise btn-tip">View Tips</button>

    </div>
  </div>

  <button type="button" ng-click='complete()' class="btn-complete btn-lg btn-primary btn-center">Complete</button>

  <div class="btn-save-workout">
    <button type="button" ng-click='save()' class="btn-lg btn-success btn-center">Exit</button>
  </div>

</div>